<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="plantilla/template :: head">
  	
  </head>
  <body>
  	<header th:replace="plantilla/template :: header">
  	
  	</header>
  		<div class="container">
  			<center>
                <h1>Hola desde SpringBoot, Segunda Entrega de Proyecto</h1>
                <h2>Video explicativo</h2>
                <br>
                <iframe width="900" height="500" src="https://www.youtube.com/embed/3kt2ED5jMbs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </center>
  		</div>
    	
    <footer th:replace="plantilla/template :: footer">
    
    </footer>
  </body>
</html>
